* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --------------------------------------------FONTS-------------------------------------------- */

@font-face {
  font-family: "Atari";
  src: url("../fonts/AtariClassic-Regular.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Atari-Chunky";
  src: url("../fonts/AtariClassicChunky.woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Atari-ExtraSmooth";
  src: url("../fonts/AtariClassicExtrasmooth.woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Atari-Smooth";
  src: url("../fonts/AtariClassicSmooth.woff2");
  font-style: normal;
  font-weight: normal;
}

/* --------------------------------------------FONTS-------------------------------------------- */

/* --------------------------------------------ALERTS-------------------------------------------- */

.success {
  color: #3bac29;
}

.alert {
  color: #bf0000;
}

/* --------------------------------------------ALERTS-------------------------------------------- */

/*---------------------------------------------FORMULAIRES---------------------------------------*/

.login-el,
.passwordAccount-el {
  text-align: center;
  background-color: white;
  color: #19215e;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20rem;
  margin-top: -20rem;
  width: 40rem;
  height: 40rem;
  z-index: 1;
  padding: 5rem 2rem;
  align-content: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  border-radius: 2rem;
  box-shadow: 1px 1px 7px rgb(39, 39, 39);
  z-index: 5000;
}

.createAccount-el {
  text-align: center;
  background-color: white;
  color: #19215e;
  display: none;
  position: fixed;
  left: 50%;
  top: 55%;
  margin-left: -20rem;
  margin-top: -22.5rem;
  width: 40rem;
  height: 45rem;
  z-index: 1;
  padding: 5rem 2rem;
  align-content: center;
  justify-content: center;
  transition: all 0.2s ease-out;
  border-radius: 2rem;
  box-shadow: 1px 1px 7px rgb(39, 39, 39);
  z-index: 5000;
}

.login-el h1,
.createAccount-el h1,
.passwordAccount-el h1 {
  font-family: "Josefin Slab", serif;
  font-weight: 600 !important;
}

.login-el p,
.createAccount-el p,
.passwordAccount-el p {
  font-size: 1.1rem;
}

.fa-angle-left {
  position: absolute;
  cursor: pointer;
  top: 2rem;
  left: 1rem;
  padding: 1.5rem;
}

.login-form,
.createAccount-form,
.passwordAccount-form {
  display: grid;
  grid-gap: 2rem;
  width: 25rem;
}

.login-form {
  margin: 6rem auto 0;
  grid-template-areas:
    "email"
    "password"
    "submit";
}

.createAccount-form {
  padding: 0;
  margin: 2rem auto 0;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "pseudo pseudo"
    "password repassword"
    "email email"
    "board board"
    "submit submit";
}

.passwordAccount-form {
  margin: 0 auto;
  grid-template-areas:
    "title"
    "email"
    "submit";
}

.input-el,
.input-create-el {
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  border: 2px solid #19215e;
  width: 100%;
  text-align: start;
}

.message-el {
  position: absolute;
  border: none;
  top: 10rem;
  left: 15rem;
}
.nickname-el {
  grid-area: pseudo;
}

.email-el {
  grid-area: email;
}
.password-el {
  grid-area: password;
}

.rePassword-el {
  grid-area: repassword;
}

.button-reSubmit-el {
  position: relative;
  top: 2.2rem;
}

.passwordAccountContact-el {
  text-decoration: underline;
  cursor: pointer;
}
.passwordAccountTitle-el {
  grid-area: title;
  margin-bottom: 4.5rem;
}

.button-submit-el {
  margin: 1.5rem 0 3.5rem;
  text-align: center;
}

.button-passwordSubmit-el {
  margin: 3rem 0 3.3rem;
}

#board {
  grid-area: board;
  width: 150px;
  height: 150px;
  border: 2px solid #19215e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-collapse: collapse;
  margin: 0 auto;
}

#board img {
  width: 48px;
  height: 48px;
  border: 1px solid rgb(105, 105, 105);
}

.form-submit-no {
  font-size: 1.5rem;
}

.form-submit-yes {
  font-size: 1.3rem;
}

.fa-check{
  margin: 3px 0 2px 0;
}

#submit-button-login, #submit-button-create, #submit-button-password {
  grid-area: submit;
  border: 2px solid #19215e;
  border-radius: 100rem;
  width: 4rem;
  height: 4rem;
  color: #19215e;
  place-self: center;
  transition: 0.2s ease-out 0.2s;
}

.form-submit-yes:hover {
  color: white!important;
  background-color: #3bac29;
  border: none!important;
  border-radius: 10px!important;
  width: 9.5rem!important;
}

.contact-us-el,
.forget-password-el,
.create-account-el {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.8rem;
  padding: 0rem 0.2rem;
}

.forget-password-el{
  margin-top: 2rem;
}

/*---------------------------------------------FORMULAIRES---------------------------------------*/

/*---------------------------------------------HEADER & FOOTER---------------------------------------*/
.logo {
  width: 5rem;
}

.user-link {
  font-size: 2.6rem;
}

header {
  font-family: "Atari";
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  background-color: rgba(25, 33, 94, 0.25);
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 9999999;
  color: rgb(235, 235, 235);
}

footer {
  position: relative;
  font-weight: normal;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  color: rgb(255, 255, 255) !important;
  background-color: #080f46;
  font-size: 1.3rem;
}

.nav-link {
  color: rgb(163, 163, 163);
}

.nav-link.active {
  color: rgb(255, 255, 255) !important;
}
.nav-link:hover {
  color: #fa67ab !important;
}

.dropdown-item {
  color: #080f46;
}

@media screen and (min-width: 992px) {
  @media screen and (max-width: 1600px) {
    .pages-link {
      margin-right: 10rem !important;
    }
  }
  @media screen and (max-width: 1454px) {
    header {
      font-size: 1rem !important;
    }
    .pages-link .nav-item {
      margin: 0 2rem !important;
    }
    .pages-link {
      margin-right: 5rem !important;
    }
  }
  @media screen and (max-width: 1100px) {
    .pages-link .nav-item {
      margin: 0 1rem !important;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
  }
  .pages-link {
    display: flex;
    justify-content: space-between;
    margin-right: 20rem;
  }

  .pages-link .nav-item {
    margin: 0 3rem;
  }

  .userDropdownList {
    left: -7rem !important;
  }

  .gamesDropdownList {
    transform: translateX(-5%);
  }

  .languagesDropdownList {
    left: -3.5rem !important;
  }
  .dropdown-menu {
    top: 5.7rem !important;
  }

  .language-link {
    font-size: 1.3rem;
    margin-right: 5rem;
  }
}
.nav-link {
  display: flex;
  align-items: center;
}

.links-container {
  justify-content: flex-end;
}

/*---------------------------------------------HEADER & FOOTER---------------------------------------*/

.background-index {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-index > img {
  position: absolute;
}

.image1 {
  z-index: 6;
  bottom: 0;
}
.image2 {
  z-index: 5;
  bottom: -4rem;
}
.image3 {
  z-index: 1;
  top: 3rem;
}
.image4 {
  z-index: 3;
  bottom: -8rem;
}
.image5 {
  z-index: 2;
  bottom: -8rem;
}
.image6 {
  z-index: 0;
  bottom: 0;
}

.information-div {
  color: #e7e7e7;
  padding-bottom: 16rem;
}

.information-row {
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.13);
  padding: 0 14rem;
  align-items: center;
}

.information-write > h1,
.carousel-div h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: rgb(226, 226, 226);
  font-size: 3.2rem;
}

.information-write > p,
.carousel-div p {
  font-size: 2.2rem;
  line-height: 1.5;
}

.presentation-div {
  padding-top: 16rem;
  background: linear-gradient(#00595f, #101d80);
}

.need-div {
  background-color: #19215e;
}

.carousel-div p {
  text-align: center;
}

.sonic {
  width: 25rem;
}

.games-div {
  background: linear-gradient(#101d80, #19215e);
}

.carousel-div {
  position: relative;
  color: #e7e7e7;
  padding: 0 14rem;
  padding-bottom: 16rem;
}

.carousel-div h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.slide-carousel {
  margin-bottom: 2rem;
}
.carousel-inner {
  border-radius: 3rem;
  margin: 0 auto;
}
.carousel-window {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  border-radius: 3rem;
}

.carousel-window img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.splashArt-div {
  background-color: #19215e;
}

/*----------------------APPLY SECTION---------------------*/

.apply-div-el {
  background-color: #101d80;
  padding: 13rem 30rem 10rem;
  text-align: center;
  color: white;
}

.apply-div-el h1 {
  font-size: 3rem;
  font-family: "Atari";
}

.apply-form-el {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 5rem;
  padding-top: 5rem;
  background-color: white;
  color: rgb(49, 49, 49);
  border-radius: 2rem;
}

.apply-form-el h2 {
  margin-bottom: 4.5rem;
  font-size: 3rem;
  font-family: "Josefin Slab", serif;
  font-weight: 600 !important;
}

.apply-form-el form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  border-radius: 10px;
  text-align: start;
  font-size: 1.3rem;
  font-family: "Josefin Slab", serif;
  font-weight: 800 !important;
}

.apply-form-el form input:not(.file_apply),
.apply-form-el form textarea {
  margin-bottom: 3rem;
  padding: 1rem;
}

.apply-form-el form label {
  margin-bottom: 0.5rem;
}

.files_apply {
  padding: 0 !important;
}

.champ_obligatoire {
  color: rgb(255, 30, 30);
}

/*---------------------------------------------ADMINISTRATION---------------------------------------*/

.admin{
  background-color: rgb(16, 16, 40);
  color: white;
  font-family: "Josefin Sans";
  overflow-x: auto;
}

.admin main{
  padding: 15rem 0;
}

.admin-nav li{
  margin: 0;
}

.admin-nav a:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.admin h1, .admin h4{
  padding: 0.3rem 1.5rem;
}

.admin p{
  font-size: 1.5rem;
  padding: 0.5rem;
}

.admin .form-control-lg{
  padding: 0;
}

/*---------------------------------------------ADMINISTRATION---------------------------------------*/

/*---------------------------------------------LOUGE ET PROFIL---------------------------------------*/


.div_centered {
  max-width: 90%;
}

.filtre_div {
  font-family: "Neon" ;
  font-size: 2rem;
  height: 200px;
  margin-top : 80px;
  margin-bottom : 80px;
  background-color: rgba(6, 6, 6, 0.1);
  border-radius: 2rem;
}

.filtre_div .row {
  flex : 1;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.en_tete{
  height: 52px;
  background-color: rgba(6, 6, 6, 0.1);
  border-radius: 1rem;
  font-size: 2rem;
  padding : 0 1rem;
  padding-top: 3px;
}

.en_tete  p {
  margin:0;
}

.img_txt_post{
  font-family: "Neon";
  font-size: 30px;
  display: flex;
  flex-wrap: nowrap;
}

 img.img_txt_post {
  max-width: 450px;
  max-height: 335px;
  border-radius: 20px;
}

div.img_txt_post {
margin-top: 50px;
margin-bottom: 100px;
}

.img_txt_post .col > p{
font-size: 52px;
font-weight: bold;
text-align: center;
}

#neon_font {
font-family: "Neon";
}

div.posts:hover {
  background-color: #dae5ff;
  transition: 0.5s;
}

div.posts {
  transition: 0.5s;
  border-radius: 1rem;
}

.div_centered a {
  text-decoration: none !important;
  color: black !important;
}

/* ----------------------------------------------LOUNGE ET PROFIL---------------------------------------*/

/* ----------------------------------------------LOUNGE---------------------------------------------*/

.banner{
  height: 1000px;
  background-image:url("../img/lounge.png");
  background-size: cover;
}

.filtre {
  background-color: white;
  width: 250px;
  height: 45px;
  border-radius: 30px;
  padding-left:30px;
  border: none;
}

/* ----------------------------------------------LOUNGE---------------------------------------------*/

/*------------------------------------------------------PROFIL----------------------------------------------*/

.banner_profil {
  position: relative;
  height: 1000px;
  background-image:url("../img/Fond_profil.png");
  background-size: cover;
  padding-top: 850px;
}

.barre_profil {
  position: static;
  background-color: rgba(22, 22, 22, 0.5);
  height: 107px;
  width: 100%;
  font-size: 36px;
  color: white;
  text-shadow: 0 0 7px #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.barre_profil .col-2{
  margin-right: 20px;
}

.barre_profil p{
  margin-bottom: 0;
}

.banner_profil img{
  position: absolute;
  bottom: 0;
  margin-left: 120px;
}

.filtre_div button {
  color: black;
}

.filtre_div div.col-6 p {
  margin-left: 50px;
}

.filtre_div button {
    background-color: rgba(35,35,35,0.15);
    border: none;
    width: 350px;
    height: 60px;
    font-size: 30px;
}

.barre_fine {
  background-color: rgba(6, 6, 6, 0.1);
  border-radius: 30px;
  height: 16px;
  margin-bottom : 80px;
}

/*------------------------------------------------------PROFIL----------------------------------------------*/

/*------------------------------------------------------POST----------------------------------------------*/

.commenter input, .commenter button {
  width: 100%;
  font-size: 30px;
  text-align: center;
  border-radius: 16px;

}

.commenter input{
    height:59px;
    border: 3px solid black;
}

.commenter button{
  margin-bottom: 12px;
}

.comments {
  border: 3px solid black;
  border-radius: 16px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.4rem;
}

.comments h1 {
  font-size: 1.5rem;
}

.comments img {
  max-height: 140px;
}

div.post {
  position: relative;
  top : 203.59px;
  margin-bottom: 283.59px;
}


/*---------------------------------------------POST---------------------------------------*/
