@font-face {
  font-family: "Atari";
  src: url(/fonts/AtariClassic-Regular.woff);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Atari-Chunky";
  src: url(/fonts/AtariClassicChunky.woff2);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Atari-ExtraSmooth";
  src: url(/fonts/AtariClassicExtrasmooth.woff2);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Atari-Smooth";
  src: url(/fonts/AtariClassicSmooth.woff2);
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
}

main {
  transition: 0.2s ease-out 0.1s;
}

header {
  position: fixed;
  width: 100%;
  padding: 1.3rem 2.5rem;
  background-color: rgba(25, 33, 94, 0.2);
  font-family: "Atari";
  z-index: 1000000;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

li,
a {
  color: white;
  transition: 0.2s ease-out 0.1s;
}

a {
  padding: 1rem 2rem;
}

a:hover {
  cursor: pointer;
}

.navigate {
  margin: 0 5rem;
}
.navigate:hover {
  color: #fa67ab;
  font-size: 115%;
  text-decoration: none;
  padding: 1rem 1.55rem;
}

.home:hover {
  padding: 1rem 1.7rem;
}

.fa-lightbulb,
.fa-user-astronaut {
  font-size: 2rem;
}

.li-0 {
  position: relative;
  margin-right: 12rem;
}
.li-4 {
  position: relative;
  left: 5rem;
}

.background {
  background-image: url("/img/img-index-background-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 60rem;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.page-principale {
  background-color: #19215e;
  height: 1000px;
}

.login-el,
.createAccount-el {
  text-align: center;
  background-color: white;
  color: #19215e;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20rem;
  margin-top: -20rem;
  width: 40rem;
  height: 40rem;
  z-index: 1;
  padding: 5rem 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  transition: all 0.2s ease-out;
}


.createAccount-el .fa-angle-left {
  position: absolute;
  cursor: pointer;
  top: 1rem;
  left: 0.5rem;
  padding: 1.5rem;
}

.login-form {
  display: grid;
  grid-gap: 3rem;
  padding: 4rem 7rem;
  grid-template-areas:
    "email"
    "password"
    "submit";
}

.createAccount-form {
  display: grid;
  width: 30rem;
  grid-gap: 1.8rem;
  padding: 1rem 0;
  grid-template-areas:
    "pseudo pseudo"
    "password repassword"
    "email email"
    "submit submit";
}

.input-el {
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  border: 2px solid #19215e;
  text-align: start;
}

.input-create-el {
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  border: 2px solid #19215e;
  text-align: start;
}

.pseudo-el {
  grid-area: pseudo;
}

.email-el {
  grid-area: email;
}
.password-el {
  grid-area: password;
}

.rePassword-el {
  grid-area: repassword;
}

.button-reSubmit-el{
  position: relative;
  top: 3.5rem;
}

.button-submit-el,
.button-reSubmit-el {
  grid-area: submit;
  border-color: #19215e;
  border-radius: 100rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  place-self: center;
  transition: 0.2s ease-out 0.1s;
  margin-bottom: 0rem;
}

.button-submit-el:hover,
.button-reSubmit-el:hover {
  color: white;
  background-color: #19215e;
  place-self: center;
  width: 4.2rem;
  height: 4.2rem;
  font-size: 120%;
  margin-bottom: -0.2rem;
}

.button-submit-el:active,
.button-reSubmit-el:active{
  width: 4rem;
  height: 4rem;
  margin-bottom: 0rem;
  color: #3BAC29;
}

.forget-password-el,
.create-account-el {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.8rem;
  padding: 0rem 0.2rem;
}


.background-index {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-index > img{
    position: absolute;
    bottom: 0;
}

.image1{
    z-index: 6;
}
.image2{
    z-index: 5;
}
.image3{
    z-index: 1;
}
.image4{
    z-index: 3;
}
.image5{
    z-index: 2;
    left: 0;
}
.image6{
    z-index: 0;
}