@font-face {
    font-family: 'Vector Battle';
    src: url('VectorBattle.woff2') format('woff2'),
        url('VectorBattle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

